<head>
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/modal.css" rel="stylesheet">
</head>

<div class="top_menu">
<ul class="top_menu_ul">
    <li class="top_menu_li li1" id="open_modal1">Profile /</li>
    <li class="top_menu_li li2" id="open_modal2">要件 /</li>
    <li class="top_menu_li li3" id="open_modal3">ER図 /</li>
    <li ><a class="top_menu_li li4" href="https://xd.adobe.com/view/c322e6c6-57bb-440b-a29c-62bfbdcd169e-9671/?fullscreen">DesignCamp</a></li>
</ul>
</div>


<div class="top_index">
    <a class="start" href="/managers/login">Web Care システム (⇦ クリック)</a>
</div>

<%# homeController.jsから記述 %>
<div class="greeting">
    <h1 class="greeting_title"><%- title %> </h1>
    <p class="greeting_sub"><%- sub %> </p>
    <p class="greeting_Annotation"><%- Annotation %><br><span class="greeting_Annotation_sub2" > スマホ/タブレット対応</span><br><span class="greeting_Annotation_sub">【非推奨】 <br>Internet Explorer<br>
    Mac上のSafari<br>
     入力時のカレンダー等が表示されません</span></p>
</div>

<div id="mask" class="hidden"></div>

<section id="modal" class="hidden">
<div class="output">
<h2>Profile</h2>
<!-- 顔画像差込 -->
<div class="plofile">
<ul>
<li> 住まい：大阪府大阪狭山市</li>
<li> 本名：岡田　康弘</li>
<li></li>
<li></li>
<li></li>
</ul>


</div>
</div>
<button id="close" class="modal_btn">閉じる</button>
</section>

<section id="modal2" class="hidden">
<div class="output">
<p>い</p>
</div>
<button id="close2" class="modal_btn">閉じる</button>
</section>

<section id="modal3" class="hidden">
<div class="output">
<p>う</p>
</div>
<button id="close3" class="modal_btn">閉じる</button>
</section>


<script src="/js/topModal.js"></script>

 <!-- <a href="#"><img src="/images/er.png" alt="ER図"></a> -->