<head>
  <link href="/css/layout.css" rel="stylesheet">
  <link href="/css/modal.css" rel="stylesheet">
</head>

<div class="top_menu">
  <ul class="top_menu_ul">
    <li class="top_menu_li li1" id="open_modal1">Profile</li>
    <li class="top_menu_li li2" id="open_modal2">要件</li>
    <li class="top_menu_li li3" id="open_modal3">ER図</li>
    <li><a class="top_menu_li li4"
        href="https://xd.adobe.com/view/c322e6c6-57bb-440b-a29c-62bfbdcd169e-9671/?fullscreen">DesignCamp</a></li>
  </ul>
  <div>
  <p class="top_menu_sub">DesignCampは、Adobe XDの外部ページに移動します。<br>
  タブレットやスマホを使用した場合、横画面での閲覧を推奨いたします。</p>
</div>
</div>

<div class="top_index">
  <a class="start" href="/managers/login">Web Care システム</a>
</div>

<%# homeController.jsから記述 %>
<div class="greeting">
  <h1 class="greeting_title"><%- title %> </h1>
  <p class="greeting_sub"><%- sub %> </p>
  <p class="greeting_Annotation"><%- Annotation %><br><span class="greeting_Annotation_sub2">★
      スマホ/タブレット対応</span><br><span class="greeting_Annotation_sub">【非推奨】 <br>Internet Explorer<br>
      Mac上のSafari<br>
      ★ 入力時のカレンダー等が表示されません</span></p>
</div>

<div id="mask" class="hidden"></div>

<section id="modal1" class="hidden">
  <button id="close1" class="modal_btn close_fixed">×</button>
  <p class="close_btn">close</p>
  <div class="output">

    <div class="profile">
      <h2 class="big_title">プロフィール</h2>
      <table class="profile_table">
        <tr class="profile_tr">
          <td>・住 ま い ：大阪狭山市</td>
        </tr>
        <tr class="profile_tr">
          <td>・ 名 　前 ：岡田 康弘</td>
        </tr>
        <tr class="profile_tr">
          <td>・生年月日：1980/12/11</td>
        </tr>
      </table>
    </div>
    <div class="fece_photo">
      <img src="/images/fecephoto.png" alt="Face Photo" class="face_photo_item">
    </div>

    <br>
    <div class="Development_environment">
      <p class="border"></p>
    </div>

    <div>
      <h2 class="big_title">開発環境etc</h2>
      <table>
        <tr>
          <td>・iMac/maCOS Catalina ver.10.15.5</td>
        </tr>
        <tr>
          <td>・GitHub(積み上げ)<br><a href="https://github.com/Code1357?tab=repositories" class="github">https://github.tumiage</a></td>
        </tr>
        <tr>
          <td>・GitHub(ポートフォリオ)<br><a href="https://github.com/Code1357/carerecord" class="github">https://github.com/portfolio</a></td>
        </tr>
        <tr>
          <td>・Adobe XD</td>
        </tr>
        <tr>
          <td>・VSCode/iTerm2</td>
        </tr>
        <tr>
          <td>・JavaScript(jQuery)/Node.js(Express)</td>
        </tr>
        <tr>
          <td>・HTML5/CSS3</td>
        </tr>
        <tr>
          <td>・AWS/RDS/MySQL</td>
        </tr>
        <tr>
          <td>・GCP/GAE</td>
        </tr>
      </table>
    </div>

    <br>
    <div>
      <p class="border"></p>
    </div>

    <div class="activity">
      <h2 class="big_title">活動歴</h2>
      <p class="activity_history">
        ★ 過去の仕事経験より「自身で開発したい！」と関心を抱くも、日常が多忙でプログラミング等の学習に着手できず時間だけが経過...<br><br>
        3月中旬：前職を退職。<br><br>
        3月下旬：転職活動を機にプログラミングの独学を開始。しかし、未経験で業界に通ずる知り合いもおらず。手探り状態で始める。手元にMacを所持していた事から、Playgrounds(アプリ)とネット検索によりSwiftの基礎を1ヶ月程学習。同時期、Twitter経由でJavaScriptの学習を薦められWebアプリ開発の学習にシフトする。<br><br>
        6月中旬：公共職業訓練(ICT科)への参加を予定するも、コロナウィルスの影響で中止となり断念。
        同時期、コロナウィルスの影響によりオンライン学習N予備校が無料開放され、N予備校をもとに学習開始。一方、開発の流れについてイメージが掴めず。一冊の書籍(入門Node.jsプログラミング)を購入し、体系的な学習にも勤しむ。<br><br>
        ・7月上旬：書籍の活用を終え、自身でのWebアプリ開発に挑む。<br><br>
        ・8月上旬：人生初のWebアプリの公開まで漕ぎ着け、今日に至る。<br><br>
      </p>
    </div>

    <br>
    <div>
      <p class="border"></p>
    </div>

    <div class="resource">
      <h2 class="big_title">独学リソース</h2>
      <table>
        <tr>
          <td>・Twitter</td>
        </tr>
        <tr>
          <td>・ネット検索</td>
        </tr>
        <tr>
      </table>

      <br>
      <h4>- 書籍 -</h4>
      <table>
        <td>・入門Node.jsプログラミング</td>
        </tr>
        <tr>
          <td>・JavaScriptコードレシピ集</td>
        </tr>
        <tr>
          <td>・React.js ＆ Next.js</td>
        </tr>
      </table>

      <br>
      <h4>- 他, 関わってきた開発環境etc -</h4>
      <table>
        <tr>
          <td>・PowerShell</td>
        </tr>
        <tr>
          <td>・Xcode</td>
        </tr>
        <tr>
          <td>・jQuery</td>
        </tr>
        <tr>
          <td>・Linux(Ubuntu)</td>
        </tr>
        <tr>
          <td>・Markdown</td>
        </tr>
        <tr>
          <td>・vim</td>
        </tr>
        <tr>
          <td>・shell</td>
        </tr>
        <tr>
          <td>・Swift</td>
        </tr>
        <tr>
          <td>・MongoDB</td>
        </tr>
        <tr>
          <td>・React</td>
        </tr>
        <tr>
          <td>・WindowsPC/ノート,デスクトップ</td>
        </tr>
        <tr>
          <td>・iPad/iPhone</td>
        </tr>
    </div>
    </table>

    <br>
    <div>
      <p class="border"></p>
    </div>

    <div class="skill">
      <h2 class="big_title">目指したいスキルアップ</h2>
      <table>
        <tr>
          <td>・JavaScript/Node.js</td>
        </tr>
         <tr>
          <td>・HTML5/CSS3</td>
        </tr>
        <tr>
          <td>・React/Next.js</td>
        </tr>
        <tr>
          <td>・ReactNative</td>
        </tr>
        <tr>
          <td>・DB関連</td>
        </tr>
        <tr>
          <td>・インフラ関連</td>
        </tr>
        <tr>
          <td>・業務で必要となるも</td>
        </tr>
      </table>
    </div>

  </div>
  <div>
    <p class="last_massage">ここまで読んでくださった皆様<br>ありがとうございました！</p>
  </div>
</section>

<section id="modal2" class="hidden">
  <button id="close2" class="modal_btn close_fixed">×</button>
  <p class="close_btn">close</p>
  <div class="output">
    <div class="requirements">
      <h2 class="requirements_image big_title">Webアプリ開発の想定要件</h2>
      <div>
        <p class="border"></p>
      </div>
      <h3>-クライアントからの要望-</h3>
      <p class="requirements_item">ニーズ：介護現場における手書きの介護記録を改善し、効率よく質の高いケアを提供したい</p>
      <h4 class="requirements_item_title">現況</h4>
      <p class="requirements_item">
        ★ 手書きの記録作業が大変<br>
        ・時間がかかる<br>
        ・記述するのに手が痛くなり、疲れる<br>
        ・字が汚く読めない<br>
        ・誤字脱字により訂正箇所が多くなる<br><br>
        ★ ケア記録(紙媒体)の活用が非効率的<br>
        ・記録の確認に時間がかかる<br>
        ・1箇所に記録媒体が保管されている為、情報共有が非効率的<br>
        ・紙媒体は破れやすく、保管に困る（スペースの確保,損傷など）<br>
        ・通所サービス等、外部への記録持ち出しができない<br>
      </p>
      <div>
        <p class="border"></p>
      </div>
      <h3>-課題の整理-</h3><br>
      <h4 class="requirements_item_title">現状の課題</h4>
      <p class="requirements_item">
        ○作業効率の低下に伴い、ケアの提供に対しての効率が悪化<br>
        ○利用者へのサービス提供(ケアの質)の低下<br>
        ○専門スタッフの士気の低下<br>
        ○事業所の運営コストを考慮する必要あり<br>
      </p>

      <h4 class="requirements_item_title">今後、想定される課題</h4>
      <p class="requirements_item">
        ○専門職のスキルダウン<br>
        ○ケアの質の低下により、顧客離れが懸念される<br>
        　(風評も念頭におく必要あり)<br>
        ○スタッフの業務疲れにより、退職増加が見込まれる<br>
        ○事業所としての運営の危機<br>
      </p><br>

      <div>
        <p class="border"></p>
      </div>

      <h3>-提案-</h3><br>
      <h4 class="requirements_item_title">ICT(Webアプリ)の活用による介護記録の管理、運営を提案</h4>
      <p class="requirements_item">
        ○ コストについては、他事業所を例に費用対効果のシュミレーションを提示<br>
        ・システム導入による、現行ニーズの改善見込み<br>
        ・現行ニーズによる損失時間,費用のシュミレーション<br>
        ・他事業所のシステム導入事具体例を提示<br>
        ○ PC,タブレットのリースのすすめ<br>
        ○ ハード,ソフト,サーバーの保守サービスについて<br>
        ・一貫したサポートにより安心いただけ、管理費用を抑えれる<br>
      </p>

      <h4 class="requirements_item_title">要件</h4>
      <p class="requirements_item">
        - 用途,場所；ケア現場（屋内,屋外）<br>
        - 利用対象；ケアスタッフ情報の管理者,ケアスタッフ<br>
        - ハード；PC,タブレット,VPNサーバー,通信<br>
        - タブレットは端末(ハード)のパスコードも活用<br>
        - ソフト；Webブラウザ/chrome推奨<br>
      </p>

      <h4 class="requirements_item_title">見込まれる効果</h4>
      <p class="requirements_item">
        ○ ケア効率のUPによる損失時間の解消<br>
        ○ サービス提供の還元UP(効率よく質の高いサービスが提供可能)<br>
        ○ 専門スタッフの士気低下,退職増加の防止<br>
        ○ 専門スタッフの定着による労力コストの削減,長期観測での人件費の削減(残業代)<br>
        ○ ICT導入を宣伝としての広告効果<br>
      </p><br>

      <div>
        <p class="border"></p>
      </div>

      <h3>-あとがき-</h3><br>
      <h4 class="requirements_item_title">開発にあたり</h4>
      <p class="requirements_item">
        　昔から介護現場は人手不足と言われています。しかし、被介護者の生活を支える重要な役割を
        果さなければなりません。人の生活を支えなければならない状況の最中、専門スタッフが時間に追われ
        適切な介護サービスを提供できない現状は未だにあります。<br>
        　例えば、通所介護の送迎の帰り道、添乗している専門スタッフはただ車に揺られてます。タブレットや
        スマホを通じて貴重な時間を無駄にせず、制度やセキュリティ上のコンプライアンスを遵守し記録する事ができれば、どれだけの雑務時間が削減できるでしょうか。<br>
        　上記のイメージや、今回の要件想定(ニーズ)は一例となりますが、開発を通じて、様々な場面で「地球上の誰かの生活が豊になり、その一助になる事ができればな」という想いで、エンジニアを目指す事を心に決めました。
      </p><br>

      </p>
    </div>
    <div>
      <p class="last_massage">ここまで読んでくださった皆様<br>ありがとうございました！</p>
    </div>
</section>

<section id="modal3" class="hidden">
  <button id="close3" class="modal_btn close_fixed">×</button>
  <p class="close_btn">close</p>
  <div class="output">
    <div class="er">
      <h2 class="er_image big_title">ER 想定図</h2>
      <div>
        <p class="border"></p>
        <p class="er_explanation">★ 画像をクリックすると大きな画像で確認できます。ブラウザの戻るボタンで戻れます。</p>
      </div>
      <div>
        <a href="/images/er.png"><img class="er_images" src="/images/er.png" alt="ER図"></a>
      </div>
    </div>
  </div>
  <div>
    <p class="last_massage">閲覧してくださった皆様<br>ありがとうございました！</p>
  </div>
</section>

<script src="/js/topModal.js"></script>